body{
    
}

.header{
    height: 80px;
    background: url(../images/bg2.jpg);
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.37); 
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.37); 
}
.logo{
    width: 150px;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -75px;
}

.content{
    margin-top: 110px;
    margin-bottom: 70px;
}
.content .card{
    margin-bottom: 20px;
}

.content h2{
    padding-top:10px;
    padding-bottom: 10px;
    background: #ededed;
    border-bottom: 2px red dashed;
    margin-bottom: 20px;
    color: #b60505;
}

.footer{
    height: 65px;
    background: blue;
    padding-top: 15px;
    background: url(../images/bg2.jpg);
    background-size: cover;
    background-position: center;    
}

.menu_inferior{
    width: 100%;
    text-align: center;
}